main .message-box {
    width: 100%;
    height: 520px;
    background-color: #ffffff;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
}

main .message-box .active-message {
    background-color: #007fff !important;
}


main .message-box .left-box {
    border-right: 1px solid #e6ecf5;
    float: left;
    width: 30%;
    height: 520px;
}

main .message-box .left-box .left-box-header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #e6ecf5;
    padding-top: 15px;
}

main .message-box .left-box .left-box-header form input {
    width: 220px;
    height: 30px;
    outline: none;
    border: 1px solid #e6ecf5;
    background-color: #ffffff;
    padding-left: 5px;
    color: #212121;
    font-family: RobotoReg, sans-serif;

    -webkit-transition: border .5s;
    -moz-transition: border .5s;
    -ms-transition: border .5s;
    -o-transition: border .5s;
    transition: border .5s;
}

main .message-box .left-box .left-box-header form input:focus {
    border: 1px solid #7c5ac2;
}

main .message-box .left-box .user {
    width: 100%;
    height: 455px;
    overflow-y: scroll;
}

main .message-box .left-box .user ul {
    margin: 0;
    padding: 0;
}

main .message-box .left-box .user ul li a {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 65px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    background-color: #ffffff;
    text-align: left;
    color: #212121;

    -webkit-transition: background-color .5s, box-shadow .5s;
    -moz-transition: background-color .5s, box-shadow .5s;
    -ms-transition: background-color .5s, box-shadow .5s;
    -o-transition: background-color .5s, box-shadow .5s;
    transition: background-color .5s, box-shadow .5s;
}

main .message-box .left-box .user ul li a.active {
    background-color: #7c5ac2;
    color: #ffffff;

    -webkit-box-shadow: -9px 11px 37px -5px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: -9px 11px 37px -5px rgba(0, 0, 0, 0.35);
    box-shadow: -9px 11px 37px -5px rgba(0, 0, 0, 0.35);
}

main .message-box .left-box .user ul li a .user-info {
    width: 170px;
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .message-box .left-box .user ul li a .user-info span {
    display: inline-block;
    font-size: 13px;
    font-family: Oswald-Medium, sans-serif;
}

main .message-box .left-box .user ul li a .user-info span.status-span {
    text-transform: uppercase;
    font-family: RobotoReg, sans-serif;
}

main .message-box .left-box .user ul li a .time-visit span {
    font-size: 13px;
    font-family: RobotoReg, sans-serif;
}

main .message-box .left-box .user ul li .around-user-img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

main .message-box .left-box .user ul li .around-user-img img {
    width: 100%;
}

main .message-box ::-webkit-scrollbar {
    width: 1px;
    background-color: #e6ecf5;
}

main .message-box .right-box {
    width: 70%;
    height: 520px;
    float: right;
}

main .message-box .right-box .right-box-header {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid #e6ecf5;
    text-align: left;
    padding: 20px 25px 15px 25px;
}

main .message-box .right-box .right-box-header .events-panel {
    text-align: right;
    padding-bottom: 10px;
    display: none;
}

main .message-box .right-box .right-box-header .user-name span {
    font-size: 17px;
    font-family: Oswald-Medium, sans-serif;
    color: #212121;
    line-height: 10px;
}

main .message-box .right-box .right-box-body {
    width: 100%;
    height: 385px;
    background-color: #f6f6f6;
    overflow-y: scroll;
    padding: 25px 15px 25px 15px;
}

main .message-box .right-box .right-box-body .inbox-message {
    margin-top: 20px;
    float: left;
    width: 100%;
    height: auto;
}

main .message-box .right-box .right-box-body .inbox-message .message {
    float: right;
    width: 250px;
    height: auto;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-right: 365px;
    word-wrap: break-word;
    padding: 7px;
    text-align: left;
    cursor: pointer;
}

main .message-box .right-box .right-box-body .inbox-message .message p {
    margin: 0;
    padding: 0;
}

main .message-box .right-box .right-box-body .inbox-message .around-user-img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin-right: 10px;
}

main .message-box .right-box .right-box-body .inbox-message .around-user-img img {
    width: 100%;
}

main .message-box .right-box .right-box-body .outbox-message {
    float: right;
    width: 100%;
    height: auto;
}

main .message-box .right-box .right-box-body .outbox-message .message {
    width: 250px;
    height: auto;
    float: right;
    background-color: #b296ed;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    padding: 7px;
    text-align: left;
    cursor: pointer;
}

main .message-box .right-box .right-box-body .outbox-message .around-user-img {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    float: right;
    margin-left: 10px;
}

main .message-box .right-box .right-box-body .outbox-message .around-user-img img {
    width: 100%;
}

main .message-box .right-box .right-box-footer {
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    border-top: 1px solid #e6ecf5;
    padding: 10px 60px 10px 60px;
}

main .message-box .right-box .right-box-footer form input {
    width: 520px;
    height: 40px;
    padding-left: 5px;
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #212121;
    font-family: RobotoReg, sans-serif;
}

main .message-box .right-box .right-box-footer form input:focus {
    border-bottom: 2px solid #7c5ac2;
}

main .message-box .right-box .right-box-footer form button {
    width: 50px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #212121;
    font-size: 20px;

    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -ms-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

main .message-box .right-box .right-box-footer form button:hover {
    color: #7c5ac2;
}