main .notes-header {
    width: 100%;
    height: 400px;
    background: url("../img/notes-pattern-city.jpg") repeat-x center;
    text-align: center;
    padding-top: 135px;
    text-transform: uppercase;
}

main .notes-content .top-panel {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #e6ecf5;
}

main .notes-content .top-panel h4 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    text-align: left;
    font-family: Oswald-Medium, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: lighter;
    color: #51537e;
}

main .notes-content .top-panel input[type="text"] {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    outline: none;
    color: #51537e;
    margin-bottom: 20px;
    padding-left: 5px;
    font-family: Oswald-Medium, sans-serif;
    color: #51537e;
    font-size: 17px;
    text-transform: capitalize;
}

main .notes-content .top-panel input[type="text"]:focus {
    border: 1px solid #ff5e3a;
}

main .notes-content .top-panel button {
    width: 300px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #e6ecf5;
    background-color: #7c5ac2;
    outline: none;
    color: #51537e;
    margin-bottom: 20px;
    text-align: center;
    font-family: Oswald-Medium, sans-serif;
    color: #ffffff;
    font-size: 17px;
    text-transform: uppercase;
    cursor: pointer;
}

main .notes-content .top-panel button:hover {
    opacity: .7;
}

main .notes-content .todo {
    width: 230px;
    height: 300px;
    background-color: #ffffff;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    position: relative;
    padding: 15px 0 10px 15px;
    margin-bottom: 10px;

}

main .notes-content .todo:hover {
    -webkit-box-shadow: 0px 0px 76px -24px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 76px -24px rgba(0,0,0,1);
    box-shadow: 0px 0px 76px -24px rgba(0,0,0,1);
}

main .notes-content .todo p {
    font-family: RobotoReg, sans-serif;
    font-size: 16px;
    text-align: left;
    width: 213px;
    height: 250px;
    overflow-y: scroll;
    word-wrap: break-word;
    margin: 0;
    padding-right: 10px;
}

main .notes-content .todo p::-webkit-scrollbar {
    width: 3px;
    background-color: #cccccc;
}

main .notes-content .todo .delete-note-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 230px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: #ff5e3a;
    font-family: Jaapokki-Regular, sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    outline: none;
}

main .notes-content .todo .delete-note-btn:hover {
    opacity: 1;
}

main .notes-header #quote {
    font-size: 75px;
    font-family: Oswald-Medium, sans-serif;
    color: #ff5e3a;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cursor {
    animation: blink 0.7s infinite;
}